# Airflow webserver credentials
_AIRFLOW_WWW_USER_USERNAME=your_airflow_username
_AIRFLOW_WWW_USER_PASSWORD=your_airflow_password

# Postgres database credentials
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_db
